* {
  padding: 0;
  margin: 0;
}

.header {
  padding: 1rem 0 1rem 3rem;
}

.main {
  padding: 0 3rem 1rem;
}

.header__title {
  font-size: 4rem;
}

.header__job {
  font-size: 2rem;
}


.footer {
  padding: 0 3rem 1rem;
}